{% extends 'owner/home/navbar.html' %}
{% block content %}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li class="active" style="font-weight: bold;">Admin Dashbord</li>
            </ul>
        </div>
    </div>
</div>


<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default single-my-account">
                            <div class="panel-heading my-account-title">
                                <h3 class="panel-title"><span>1 .</span> <a href="{% url 'admin_list' %}" >User Booking Details</a></h3>
                            </div>
                           
                        </div>
                        <div class="panel panel-default single-my-account">
                            <div class="panel-heading my-account-title">
                                <h3 class="panel-title"><span>2 .</span> <a  href="{% url 'list_staff' %}">Staff Log</a></h3>
                            </div>
                            
                        </div>
                        <div class="panel panel-default single-my-account">
                            <div class="panel-heading my-account-title">
                                <h3 class="panel-title"><span>3 .</span> <a href="{% url 'admin_feedback_view' %}" >FeedBack</a></h3>
                            </div>
                           
                        </div>
                        <div class="panel panel-default single-my-account">
                            <div class="panel-heading my-account-title">
                                <h3 class="panel-title"><span>4 .</span> <a href="wishlist.html">Modify your wish list   </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .panel-title{
       
    font-weight: bold;

    }
    a{
       font-weight: bold;
    }
</style>
{% endblock content %}
    