<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hello <strong>{{name}},</strong>
    <p><strong>
     <i>Thank you for choosing us.</i><br>
     <i>we will collect your garbage with in 48 hours</i><br><br>
     <i>*stay tuned*</i>
     
    </strong></p>
</body>
<style>
    p{
        color: #2b3341;
        font-size: 20px;
    }
</style>
</html>
